h1 {
    text-align: center;
    font-family: 'AbeeZee', sans-serif;
    font-weight:500;
    color: #000;
}
.titreInscription {
    color: #48945d;
}
.mailInline {
    font-size: 1rem;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}
.mailInlineInscription {
    font-size: 1rem;
    margin: 0.2rem;
    padding-bottom: 20px;
}
.lien {
    text-align: center;
}

.contain-img {
    margin: 0 auto 20px;
    text-align: center;
}
.contain-imgMail {
    text-align: center;
    margin: 0 auto;
    align-items: center;
}
.felicitationImg {
    width: auto;
    max-width: 200px;
    height: auto;
    max-height: 200px;
}
.headMail, .footerMail {
    text-align: center;
    background-color: #C6FFD0;
}
.headMail {
    height: 30px;
}
.containerMail {
    width: 100%;
    background-color: #f9ff59;
}
.divLogoMail, .iconsMail {
    text-align: center;
}
.iconsMail img{
    height: 30px;
}
.lienValid {
    font-size: 10px;
    color: #000;
}
.bodyMail {
    margin: 20px auto;
    width: 70%;
    border: 2px solid #48945d;
    border-radius: 20px;
    box-shadow: 0px 15px 10px -15px #111;
    background-color: #fff;
    padding: 10px;
}
.logo {
    width: 300px;
}
.bienvenue {
    margin: 10px auto;
}
.logoMail {
    max-width: 50%;
    max-height: auto;
    margin: 0 auto;
}
.felicitation {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
    width: 90%;
    justify-content: center;
}
.textMail {
    max-width: 600px;
    margin: 10px auto;
    text-align: center;
}

.container {
    margin-top:20px;
    margin-bottom: 40px;
}

.textInscription {
    width: 95%;
    margin: 5px auto;
    text-align: center;
}


.btn {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}
.btnMail {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.btn-connectMail {
    margin: 0 auto;
    text-align: center;
    padding: 10px 10px;
    background-color: #f9ff59;
    box-shadow: 0px 15px 10px -15px #111;
    font-size: 15px;
    color: #48945d;
    border-radius: 25px;
    cursor: pointer;
}
.load {
    margin: 0 auto;
    text-align: center;
    padding: 10px 10px;
    background-color: #f9ff59;
    font-size: 15px;
    color: #48945d;
    border-radius: 25px;
    cursor: pointer;
    text-decoration: none;
}

.btn-connect:hover {
    background-color: white;
    color: #f9ff59;
}


