{% block body %}
{% apply inline_css(source('@styles/verify.css')) %}
<div class="confirm-mail-background">
        <div class="mail-confirm-block">
            <div class="deco-line">
            </div>
            <img class="logoPEF" src="{{ asset('/uploads/mail-image/logoPEF.png') }}" alt="Logo Plante Et Flower">
            <div class="mail-welcome">
                <h1>Bonjour {{ username }}</h1>
                <p>Nous avons bien reçu votre demande de réinitialisation du mot de passe</p>
                <img class="welcome-illustration" src="{{ asset('/uploads/mail-image/welcome-illustration.png') }}" alt="Illustration avec Personnage et Plantes">
            </div>
            <p>Cliquez sur le bouton ci-dessous afin de changer votre mot de passe</p>
            <div class="bouton-verification">
                <a href="http://127.0.0.1:8000/forgot_password/reset/{{ token }}">Réinitialiser le mot de passe</a>
            </div>
            <div class="social-medias-logo">
				<a href="https://www.facebook.com/Plantetflower-110812368257334/"><img src="https://img.icons8.com/color/48/000000/facebook-new.png" alt="Page Facebook de Plant&Flower"/></a>           
				<a href="https://www.instagram.com/plantetflower/"><img src="https://img.icons8.com/fluency/48/000000/instagram-new.png" alt="Page Instagram de Plant&Flower"/></a>
            </div>
        </div>
    </div>
{% endapply %}
{% endblock %}